[submodule "lib/fprime"]
	path = lib/fprime
	url = https://github.com/nasa/fprime.git
[submodule "lib/fprime-sx1280"]
	path = lib/fprime-sx1280
	url = https://github.com/pranavsuri4303/fprime-sx1280.git
	branch = main
